// 创建您自己的主题的变量列表。
// 修改 原来的主题的颜色
@use 'sass:map';
// @use 'node_modules/element-plus/theme-chalk/src/common/var' as *;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #3c6eff,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  ),
  $common-component-size: (
    'large': 36px,
    'default': 36px,
    'small': 30px,
  ),
  $text-color: (
    'primary': #33353b,
  ),
  $table: (
    'header-bg-color': #EFF1F7,
    'header-text-color': rgba(0, 0, 0, 0.85),
  ),
  $button-padding-horizontal: (
    'large': 20px,
    'default': 18px,
    'small': 12px,
  )
  // $common-component-size: map.merge(
//   (
//     'large': 36px,
//     'default': 30px,
//     'small': 24px,
//   ),
//   $common-component-size
// )
);
